@mixin button {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid transparent;
    transition: all ease-in 0.3s;
}

@mixin icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
}
